# Regex Exercises

# 1. Write a function named is_vowel. 

It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [321]:
import re
import pandas as pd
import numpy as np

In [84]:
def is_vowel(character):
    result = re.findall(r"[aeoiu]", character)
    if len(result) == 0:
        print("That character has no vowels")
    else:
        print("That character has vowels")
        print(f"The characters that are vowels is/are: {result}")

In [88]:
is_vowel("aeSfgxhcjv")

That character has vowels
The characters that are vowels is/are: ['a', 'e']

## 2. Write a function named is_valid_username that accepts a string as input. 

A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [154]:
user_name = "1code1up"

In [131]:
start_user_name = re.findall(r"^[^a-z]", user_name)
len(start_user_name)

1

In [112]:
is_character_ok = re.findall(r"[^a-z\d_]", user_name)
is_character_ok

['D']

In [140]:
def is_valid_username(user_name):
    start_user_name = re.findall(r"^[^a-z]", user_name)
    is_character_ok = re.findall(r"[^a-z\d_]", user_name)
    if len(user_name) > 32:
        print("Max size for user name is 32 characters. Please make it shorter")
    elif len(start_user_name) != 0:
        print("Invalid username, please start with a lowercase letter")
    elif len(is_character_ok) != 0:
        print("Invalid username, please only use lowercase letters")
    else:
        print("This is a valid username")

In [141]:
is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')

Max size for user name is 32 characters. Please make it shorter

In [142]:
is_valid_username('codeup')

This is a valid username

In [143]:
is_valid_username('Codeup')

Invalid username, please start with a lowercase letter

In [144]:
is_valid_username('codeup123')

This is a valid username

In [145]:
is_valid_username('1codeup')

Invalid username, please start with a lowercase letter

## 3. Write a regular expression to capture phone numbers. It should match all of the following:

In [410]:
phone = "my phone number is (210) 867 5309, +1 210.867.5309, 867-5309, 210-867-5309"

In [407]:
phone_number = "My phone number is 210-867-5309, in the UK it was +44 886 44551 0077"

In [609]:
rx = r"\+?\d+?(?:[- ]+\d+)+"
re.findall(rx, phone_number)

['210-867-5309', '+44 886 44551 0077']

In [666]:
re.findall(r"(\d{3}[-\.\s]??\d{3}[-\.\s]??\d{4}|\(\d{3}\)\s*\d{3}[-\.\s]??\d{4}|\d{3}[-\.\s]??\d{4})", phone)

['(210) 867 5309', '210.867.5309', '867-5309', '210-867-5309']

### 4. Use regular expressions to convert the dates below to the standardized year-month-day format.

In [314]:
dates = ["02/04/19", "02/05/19", "02/06/19", "02/07/19", "02/08/19", "02/09/19", "02/10/19"]

In [316]:
for i in dates:
    new_date = re.sub(r"(\d{2})/(\d{2})/(\d{2})", r"20\3-\2-\1", i)
    print(new_date)

2019-04-02
2019-05-02
2019-06-02
2019-07-02
2019-08-02
2019-09-02
2019-10-02

### 5. Write a regex to extract the various parts of these logfile lines:

In [318]:
line = 'GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58'

In [437]:
regex = '''
^
(?P<type_request>GET)
\s
(?P<destination>.+?)
\s
\[
(?P<date>.+)
\]
\s
(?P<request_info>.+?)
\s
\{
(?P<status>.+?)
\}
\s
\d+
\s
\"
?(?P<request_number>.+)
\"
\s
(?P<ip>.+)

'''

In [438]:
pd.Series(line).str.extract(regex, re.VERBOSE)

,type_request,destination,date,request_info,status,request_number,ip
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,python-requests/2.21.0,97.105.19.58

In [433]:
access_logs = '''
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58
'''

In [434]:
lines = pd.Series(access_logs.strip().split("\n"))

In [435]:
lines

0    GET /api/v1/sales?page=86 [16/Apr/2019:193452+...
1    POST /users_accounts/file-upload [16/Apr/2019:...
2    GET /api/v1/items?page=3 [16/Apr/2019:193453+0...
dtype: object

In [447]:
regex = '''
^
(?P<type_request>\w{3,4})
\s
(?P<destination>.+?)
\s
\[
(?P<date>.+)
\]
\s
(?P<request_info>.+?)
\s
\{
(?P<status>.+?)
\}
\s
\d+
\s
\"
?(?P<request_number>.+)
\"
\s
(?P<ip>.+)

'''

In [448]:
pd.Series(lines).str.extract(regex, re.VERBOSE)

,type_request,destination,date,request_info,status,request_number,ip
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,HTTP/1.1,201,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,429,python-requests/2.21.0,97.105.19.58

### 6.You can find a list of words on your mac at /usr/share/dict/words. 

Use this file to answer the following questions:

In [449]:
with open('/usr/share/dict/words') as f:
    words = f.read().split('\n')

In [452]:
df = pd.Series(words)

### How many words have at least 3 vowels?

In [463]:
counter = 0
for i in words:
    vowels = re.findall(r"[aeoiu]", i)
    if len(vowels) <= 3:
        counter += 1
print(f"There are {counter:,} words with at least 3 vowels")

There are 106,382 words with at least 3 vowels

### How many words have at least 3 vowels in a row?

In [496]:
counter = 0
for i in words:
    vowels = re.findall(r"[aieou]{3,}", i)
    if len(vowels) > 0:
        counter += 1
print(f"There are {counter:,} with at least 3 vowels in a row")

There are 6,156 with at least 3 vowels in a row

### How many words have at least 4 consonants in a row?

In [507]:
counter = 0
for i in words:
    vowels = re.findall(r"[^aieou]{3,}", i)
    if len(vowels) > 0:
        counter += 1
print(f"There are {counter:,} with at least 3 consonants in a row")

There are 75,652 with at least 3 consonants in a row

### How many words start and end with the same letter?

In [529]:
counter = 0
for i in words:
    start = re.findall(r"^\w", i)
    end = re.findall(r"\w$", i)
    if start == end:
        counter += 1
print(f"There are {counter:,} that start and end on the same letter")

There are 9,970 that start and end on the same letter

### How many words start and end with a vowel?

In [555]:
counter = 0
for i in words:
    start = re.findall(r"^[aeiou]", test)
    end = re.findall(r"[aeiou]$", test)
    if len(start) == 1 and len(end) == 1:
        counter += 1

print(f"There are {counter:,} that start and end with a vowel")

There are 235,887 that start and end with a vowel

### How many words contain the same letter 3 times in a row?

In [601]:
counter = 0
for i in words:
    letters = re.findall(r"(\w)\1\1", i)
    if len(letters) > 0:
        counter += 1
print(f"There are {counter:,} words that contain the same letter 3 times in a row")

There are 7 words that contain the same letter 3 times in a row